---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
const pageTitle = "My Astro Learning Blog";
---

<BaseLayout pageTitle={pageTitle}>
	<p>Nowadays, people have blogging services that allow them to get a blog up and running quickly. However, you do sacrifice some control over
    your content. Maybe they don't have all the features that you need or maybe they don't like some of the things you say. </p>

	<p>Whatever limits you face can be bypassed by building your own blog. So that's what I am trying out here with astro!</p>

	<ul>
		{allPosts.map((post: any) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
	</ul>
</BaseLayout>